@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #cea694 0%, #7c5948 80%);
  box-shadow: 0 16px 14px 0 #2a1d1f;
  padding: 18px 24px;
  max-width: 345px;
  min-width: 200px;
  margin-bottom: 20px;
  justify-content: space-between;

  img {
    object-fit: cover;
    margin-bottom: 26px;
    border-radius: 8px;
    width: 310px;
    min-width: 200px;
    align-self: center;
  }

  h3 {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font-roboto);
  }

  p {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-roboto);
  }

  ul {
    width: 100%;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
  }

  li {
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    color: var(--color-dark);
    background-color: var(--color-text);
    padding: 2px 22px;
    font-family: var(--font-roboto);
  }

  a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 25px;
    font-weight: 300;
    border-radius: 100px;
    background-color: var(--color-dark);
    padding: 1px 15px;
    font-family: var(--font-roboto);
  }

  a:hover {
    color: var(--color-text);
  }
}
.demo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.highlights {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  align-items: flex-end;
}
@media screen and (max-width: 830px) {
  .container {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 18px;
    }
    li {
      font-size: 18px;
    }
    a {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 300px;
    height: 450px;
    img {
      width: 250px;
    }
  }
}
@media screen and (max-width: 350px) {
  .container {
    width: 230px;
    height: 400px;
    img {
      width: 150px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 17px;
    }
    p {
      font-size: 15px;
    }
    li {
      font-size: 13.5px;
    }
    a {
      font-size: 14px;
    }
  }
}
