@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #cea694 0%, #7c5948 80%);
  box-shadow: 0 16px 14px 0 #2a1d1f;
  padding: 18px 24px;
  max-width: 345px;
  min-width: 200px;
  margin-bottom: 20px;

  img {
    margin-bottom: 26px;
    min-width: 200px;
  }

  h3 {
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font-roboto);
  }

  p {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
    font-family: var(--font-roboto);
  }

  ul {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
  }

  li {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background-color: var(--color-dark);
    padding: 2px 22px;
    font-family: var(--font-roboto);
  }

  div {
    width: 100%;
    margin-top: 26px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #7c5948;
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background-color: var(--color-primary);
    padding: 1px 22px;
    font-family: var(--font-roboto);
  }

  a:hover {
    color: var(--color-text);
  }
}
@media screen and (max-width: 830px) {
  .container {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 18px;
    }
    li {
      font-size: 18px;
    }
    a {
      font-size: 20px;
    }
  }
}
