@import "../../vars.css";

.container {
  background-color: var(--color-footer);
  margin-top: 50px;
  width: 100vw;
}

.links {
  li {
    padding: 3px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-right: solid var(--color-dark) 2px;
  }

  ul {
    display: flex;
    border-top: solid var(--color-dark) 2px;
    border-bottom: solid var(--color-dark) 2px;
    border-left: solid var(--color-dark) 2px;
  }

  img {
    width: 35px;
  }
}

.link {
  text-decoration: none;
  list-style: none;
  font-family: var(--font-roboto);
  font-size: 15px;
  font-weight: 400;
  color: var(--color-text);
  letter-spacing: 0.5px;
}
.copy {
  background-color: var(--color-dark);
  font-size: 15px;
  font-weight: 400;
  font-family: var(--font-roboto);
  color: var(--color-text);
  padding: 10px;
}

@media screen and (max-width: 950px) {
  .link {
    font-size: 18px;
  }
}

@media screen and (max-width: 830px) {
  .link {
    display: none;
  }
  .links {
    text-align: center;

    ul {
      width: 100vw;
    }
    img {
      padding-top: 4px;
      width: 35px;
    }
  }
  .container {
    padding: 0%;
  }

  .copy {
    padding: 5px 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 830px) {
  .links {
    img {
      width: 25px;
    }
  }
}
